.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

# Android Studio
.idea/
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp
build/
#for the Crashlytics in android studio
ImHere/src/main/res/values/com_crashlytics_export_strings.xml